<p class="lead">Quite rightly, you might be concerned about the privacy of the information submitted with this form.</p>
<p class="lead">I can only offer you assurances:</p>
<p class="lead"> All information is used to generate the pdf and then thrown away. None is ever placed in non-volatile storage. You can see the (very hacky) code here</p>
<p class="lead">If you email me the form, I'll delete it once it is posted</p>
  <p class="lead"><a href="/">OK</a></p>