<p class="lead"> It has come to my attention that users of this site have been receiving emails like the following:</p>
<pre>
We refer to your compensation claim form submitted for our network-wide performance in December 2012.

Your compensation claim has been submitted on a form obtained from an unauthorised  site. In order for us to process your claim, please follow the link below, 
submitting your claim form before the end of the current month so that your claim  
may be considered.

http://metrotrains.com.au/webfm_send/140


Yours sincerely,


Esita Morgan
Customer Relations Coordinator
</pre>
<p class="lead"> I have sent the following email to Metro. I will post any replies here</p>
<pre>
Dear Esita Morgan,

My name is Perryn Fowler. I am the developer of 'MetroClaim' a web application 
designed to streamline the process for submitting a compensation claim for Metro's 
recent failure to meet performance targets.

It has come to my attention that you have been rejecting claims generated using my 
application on the basis that it is an 'unauthorised site' and directing users to 
the form at http://metrotrains.com.au/webfm_send/140

I would like to draw your attention to the following:

1) The form submitted to Metro via the use of MetroClaim is exactly the same form 
you are directing people to. These forms are then posted to the address specified 
by Metro. MetroClaim simply allows users to fill in the form using a keyboard 
instead of by hand. 

2) MetroClaim also enables people to sign the form using 'e-signature' technology 
via a trackpad or stylus, rather than using pen or ink. 
I would like to direct your attention to the court case outlined at http://en.wikipedia.org/wiki/Getup_Ltd_v_Electoral_Commissioner where it was determined that 
this is a perfectly valid method for signing official paperwork.

Given these, please explain the following:

1) What exactly is meant by 'unauthorised site'?

2) What restrictions does Metro place on the manner in which claimants may fill out the provided form?

3) What is Metro's rationale for rejecting claims submitted in this manner and thereby evading their legislated responsibility to provide compensation?

Yours Sincerely
Perryn Fowler
</pre>

<p class="lead"><a href="/">Back To MetroClaim</a></p>